.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.category-list, .menu-items {
  width: 45%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
}

button:hover {
  background-color: #0056b3;
}